
<section
class="pt-24 md:mt-0 md:h-screen flex flex-col justify-center text-center md:text-left md:flex-row md:justify-between md:items-center lg:px-48 md:px-12 px-4 bg-secondary">
<div class="md:flex-1 md:mr-10">
  <h1 class="font-pt-serif text-5xl font-bold mb-7">
    Bienvenido a
    <span class="bg-underline1 bg-left-bottom bg-no-repeat pb-2 bg-100%">
      Reality Lab
    </span>
  </h1>
  <p class="font-pt-serif font-normal mb-7">
    En Reality Lab, transformamos la manera en que interactúas con el entorno digital mediante tecnologías inmersivas como la realidad aumentada (AR), la realidad virtual (VR) y la realidad mixta (MR).
  </p>
  <div class="font-montserrat">
    <button class="bg-black px-6 py-4 rounded-lg border-2 border-black border-solid text-white mr-2 mb-2">
      Conoce más
    </button>
    <button class="px-6 py-4 border-2 border-black border-solid rounded-lg">
      Contáctanos
    </button>
  </div>
</div>
<div class="flex justify-around md:block mt-8 md:mt-0 md:flex-1">
  <div class="relative">
    <img src='Highlight1.svg' alt="" class="absolute -top-16 -left-10" />
  </div>
  <img src='MacBook Pro.png' alt="Macbook" />
  <div class="relative">
    <img src='Highlight2.svg' alt="" class="absolute -bottom-10 -right-6" />
  </div>
</div>
</section>

<!-- How it works -->
<section class="bg-black text-white sectionSize">
<div>
  <h2 class="secondaryTitle bg-underline2 bg-100%">Nuestra Misión</h2>
</div>
<div class="flex flex-col md:flex-row">
  <div class="flex-1 mx-8 flex flex-col items-center my-4">
    <div class="border-2 rounded-full bg-secondary text-black h-12 w-12 flex justify-center items-center mb-3">
      1
    </div>
    <h3 class="font-montserrat font-medium text-xl mb-2">Desarrollo</h3>
    <p class="text-center font-montserrat">
      Creamos soluciones AR/VR/MR que permiten a las empresas incorporar estas tecnologías en sus procesos o campañas.
    </p>
  </div>
  <div class="flex-1 mx-8 flex flex-col items-center my-4">
    <div class="border-2 rounded-full bg-secondary text-black h-12 w-12 flex justify-center items-center mb-3">
      2
    </div>
    <h3 class="font-montserrat font-medium text-xl mb-2">Análisis</h3>
    <p class="text-center font-montserrat">
      Medimos y evaluamos cómo las campañas de realidad aumentada afectan indicadores clave de desempeño (KPIs).
    </p>
  </div>
  <div class="flex-1 mx-8 flex flex-col items-center my-4">
    <div class="border-2 rounded-full bg-secondary text-black h-12 w-12 flex justifycenter items-center mb-3">
      3
    </div>
    <h3 class="font-montserrat font-medium text-xl mb-2">Estrategia</h3>
    <p class="text-center font-montserrat">
      Proporcionamos insights prácticos para mejorar la eficacia de las campañas basándonos en datos reales.
    </p>
  </div>
</div>
</section>

<!-- Features -->
<section class="sectionSize bg-secondary">
<div>
  <h2 class="secondaryTitle bg-underline3 bg-100%">Tecnologías</h2>
</div>
<div class="md:grid md:grid-cols-2 md:grid-rows-2">

  <div class="flex items-start font-montserrat my-6 mr-10">
    <img src='logos/Heart.svg' alt='' class="h-7 mr-4" />
    <div>
      <h3 class="font-semibold text-2xl">Realidad Aumentada</h3>
      <p>
        Desarrollamos aplicaciones de AR que permiten a las empresas ofrecer experiencias interactivas y enriquecidas a sus clientes.
      </p>
    </div>
  </div>

  <div class="flex items-start font-montserrat my-6 mr-10">
    <img src='logos/Heart.svg' alt='' class="h-7 mr-4" />
    <div>
      <h3 class="font-semibold text-2xl">Realidad Virtual</h3>
      <p>
        Creamos entornos virtuales inmersivos que transforman la manera en que las personas interactúan con el contenido digital.
      </p>
    </div>
  </div>

  <div class="flex items-start font-montserrat my-6 mr-10">
    <img src='logos/Heart.svg' alt='' class="h-7 mr-4" />
    <div>
      <h3 class="font-semibold text-2xl">Realidad Mixta</h3>
      <p>
        Combinamos elementos del mundo real y virtual para ofrecer experiencias únicas y realistas.
      </p>
    </div>
  </div>

  <div class="flex items-start font-montserrat my-6 mr-10">
    <img src='logos/Heart.svg' alt='' class="h-7 mr-4" />
    <div>
      <h3 class="font-semibold text-2xl">Análisis de Datos</h3>
      <p>
        Utilizamos herramientas avanzadas para medir y optimizar el impacto de las tecnologías inmersivas en los negocios.
      </p>
    </div>
  </div>
<button class="bg-black px-6 py-4 rounded-lg border-2 border-black border-solid text-white mr-2 mb-2" 
  onclick="window.open('https://lens.snap.com/experience/f75b4655-fcde-4574-a82e-d74323d7edad', '_blank')">
Zapato Virtual Try On
</button>
<button class="bg-black px-6 py-4 rounded-lg border-2 border-black border-solid text-white mr-2 mb-2" 
  onclick="window.open('https://lens.snap.com/experience/42f08a6f-76e5-4b00-a6ff-3fc369b2c0b3', '_blank')">
Ropa Virtual Try On
</button>
<button class="bg-black px-6 py-4 rounded-lg border-2 border-black border-solid text-white mr-2 mb-2" 
  onclick="window.open('https://lens.snap.com/experience/390b79ca-5bcd-41f0-b6df-2b63d5470d5a', '_blank')">
Aretes Virtual Try On
</button>
<button class="bg-black px-6 py-4 rounded-lg border-2 border-black border-solid text-white mr-2 mb-2" 
  onclick="window.open('https://lens.snap.com/experience/6e416e6b-8282-4557-aee5-5d1b96c1c64b', '_blank')">
Collar Virtual Try On
</button>
<button class="bg-black px-6 py-4 rounded-lg border-2 border-black border-solid text-white mr-2 mb-2" 
  onclick="window.open('https://lens.snap.com/experience/baf3684d-ec11-4752-9d9d-df22fb270bdd', '_blank')">
Lentes Virtual Try On
</button>
</div>
</section>

<!-- Pricing -->
<section class="sectionSize bg-secondary py-0">
<div>
  <h2 class="secondaryTitle bg-underline4 mb-0 bg-100%">Servicios</h2>
</div>
<div class="flex w-full flex-col md:flex-row">

  <div class='flex-1 flex flex-col mx-6 shadow-2xl relative bg-secondary rounded-2xl py-5 px-8 my-8 md:top-24'>
    <h3 class="font-pt-serif font-normal text-2xl mb-4">
      Desarrollo de AR
    </h3>
    <div class="font-montserrat font-bold text-2xl mb-4">
      $1000
      <span class="font-normal text-base"> / proyecto</span>
    </div>

    <div class="flex">
      <img src='logos/CheckedBox.svg' alt="" class="mr-1" />
      <p>Benefit #1</p>
    </div>
    <div class="flex">
      <img src='logos/CheckedBox.svg' alt="" class="mr-1" />
      <p>Benefit #2</p>
    </div>
    <div class="flex">
      <img src='logos/CheckedBox.svg' alt="" class="mr-1" />
      <p>Benefit #3</p>
    </div>

    <button class=" border-2 border-solid border-black rounded-xl text-lg py-3 mt-4">
      Choose plan
    </button>
  </div>

  <div class='flex-1 flex flex-col mx-6 shadow-2xl relative bg-secondary rounded-2xl py-5 px-8 my-8 md:top-12'>
    <h3 class="font-pt-serif font-normal text-2xl mb-4">
      Desarrollo de VR
    </h3>
    <div class="font-montserrat font-bold text-2xl mb-4">
      $2000
      <span class="font-normal text-base"> / proyecto</span>
    </div>

    <div class="flex">
      <img src='logos/CheckedBox.svg' alt="" class="mr-1" />
      <p>Benefit #1</p>
    </div>
    <div class="flex">
      <img src='logos/CheckedBox.svg' alt="" class="mr-1" />
      <p>Benefit #2</p>
    </div>
    <div class="flex">
      <img src='logos/CheckedBox.svg' alt="" class="mr-1" />
      <p>Benefit #3</p>
    </div>

    <button class=" border-2 border-solid border-black rounded-xl text-lg py-3 mt-4">
      Choose plan
    </button>
  </div>

  <div class='flex-1 flex flex-col mx-6 shadow-2xl relative bg-secondary rounded-2xl py-5 px-8 my-8 md:top-24'>
    <h3 class="font-pt-serif font-normal text-2xl mb-4">
      Desarrollo de MR
    </h3>
    <div class="font-montserrat font-bold text-2xl mb-4">
      $3000
      <span class="font-normal text-base"> / proyecto</span>
    </div>

    <div class="flex">
      <img src='logos/CheckedBox.svg' alt="" class="mr-1" />
      <p>Benefit #1</p>
    </div>
    <div class="flex">
      <img src='logos/CheckedBox.svg' alt="" class="mr-1" />
      <p>Benefit #2</p>
    </div>
    <div class="flex">
      <img src='logos/CheckedBox.svg' alt="" class="mr-1" />
      <p>Benefit #3</p>
    </div>

    <button class=" border-2 border-solid border-black rounded-xl text-lg py-3 mt-4">
      Choose plan
    </button>
  </div>

</div>
</section>

<!-- FAQ  -->
<section class="sectionSize items-start pt-8 md:pt-36 bg-black text-white">
<div>
  <h2 class="secondaryTitle bg-highlight3 p-10 mb-0 bg-center bg-100%">
    FAQ
  </h2>
</div>
<div *ngFor="let item of faqItems" class="w-full py-4">
    <div class="flex justify-between items-center cursor-pointer" (click)="toggleAnswer(item)">
      <div class="font-montserrat font-medium mr-auto">
        {{item.question}}
      </div>
      <img src='logos/CaretRight.svg' alt="" 
           class="transform transition-transform" 
           [ngClass]="{'rotate-90': item.isOpen}"/>
    </div>
    <div class="font-montserrat text-sm font-extralight pb-8" 
         [ngClass]="{'hidden': !item.isOpen}">
      {{item.answer}}
    </div>
    <hr class="w-full bg-white" />
  </div>

</section>

<!-- Footer -->
<section class="bg-black sectionSize">
<div class="mb-4">
  <img src='Logo_white.svg' alt="Logo" class="h-4" />
</div>
<div class="flex mb-8">
  <a href="#">
    <img src='logos/Facebook.svg' alt="Facebook logo" class="mx-4" />
  </a>
  <a href="#">
    <img src='logos/Youtube.svg' alt="Youtube logo" class="mx-4" />
  </a>
  <a href="#">
    <img src='logos/Instagram.svg' alt="Instagram logo" class="mx-4" />
  </a>
  <a href="#">
    <img src='logos/Twitter.svg' alt="Twitter logo" class="mx-4" />
  </a>
</div>
<div class="text-white font-montserrat text-sm">
  © 2023 Reality Lab. Todos los derechos reservados
</div>
</section>
